@charset "UTF-8";

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
}

header, footer, .container {
	margin: 0 auto;
}

ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.disc {
	padding-left: 1.6em;
}
.disc li {
	list-style: disc;
}

a {
	color: #428bca;
	text-decoration: none;
}
a:hover {
	color: #2a6496;
	text-decoration: underline;
}

.container h2 {
	padding: 0.5em 0;
	font-size: 128.6%;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
.container h3 {
	font-size: 117%;
}

pre {
	padding: 8px;
	border: solid 1px #ccc;
	background: #f7f7f7;
	overflow: scroll;
}
.jsComment {
	font-style: italic;
	color: #999;
}

table {
	width: 100%;
	margin-bottom: 20px;
	border: none;
	border-collapse: collapse;
}
table caption {
	padding: 0.5em 0;
	font-size: 117%;
	font-weight: bold;
	text-align: left;
}
table tr th,
table tr td {
	padding: 0.6em 1em 0.5em 0;
	text-align: left;
}
table tr th {
	border-bottom: solid 2px #ccc;
}
table tr td {
	border-bottom: solid 1px #ccc;
}

@media only screen and (min-width: 1201px) {
	header, footer, .container {
		width: 1024px;
	}
}
@media only screen and (max-width: 1200px) {
	header, footer, .container {
		width: 85.3%;
	}
}
@media only screen and (max-width: 768px) {
	header, footer, .container {
		width: 87.5%;
	}
}
